
.footer{
  border-top: 5px solid var(--color-darken-grey);
  padding: 48px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 170px;
}

.footer__nav__link {
  color: var(--color-white);
  font-size: 18px;
  line-height: 24px;
  border-right: 1px solid var(--color-grey);
  padding: 0 54px;
}

.footer__nav__link:last-child {
  border-right: none;
}

.footer__copy {
  color: var(--color-white);
  font-size: var(--font-size-default);
  line-height: 24px;
}

@media only screen and (max-width: 480px) {

  .footer {
    margin-top: 56px;
    flex-direction: column;
    padding: 32px 0 24px 0;
  }

  .footer__logo {
    width: 100px;
  }

  .footer__nav {
    margin: 32px 0;
  }

  .footer__nav__link {
    font-size: 14px;
    padding: 0 32px;
  }

  .footer__copy {
    font-size: 14px;
  }

}