.header {
  margin: 40px 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__logo {
  width: 170px;
  margin-right: 64px;
}

.header__menu {
  display: inline-block;
}

.header__menu__item {
  color: var(--color-light-grey);
  margin-right: 24px;
}

.header__menu__item:last-child {
  margin-right: 0;
}

.header__menu__item--active {
  color: var(--color-white);
}

.header__menu__item__text, .header__menu__item__icon {
  vertical-align: middle;
}

.header__menu__item__icon {
  margin-right: 8px;
}

.header__menu__item svg {
  fill: var(--color-light-grey);
}

.header__menu__item--active svg {
  fill: var(--color-white);
}

.header__sign-in {
  margin-left: auto;
  margin-right: 0;
}

.header__check, .header__toggle {
  display: none;
}


@media only screen and (max-width: 480px) {

  .header {
    margin: 0;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-black);
    padding: 16px;
  }

  .header__logo {
    width: 100px;
  }

  .header__menu {
    display: block;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
  }

  .header__menu__item {
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: var(--color-light-grey);
    background-color: var(--color-black);
  }

  .header__menu__item--active {
    color: var(--color-white);
  }

  .header__check:checked ~ .header__menu {
    transform: translateX(0);
  }

  .header__toggle {
    display: block;
  }

  i {
    color: var(--color-light-grey);
    margin: 5px 20px 0 5px;
  }

}