
.banner {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 4.94%0%, rgba(0, 0, 0, 0.35) 50%, rgba(10, 7, 11, 1) 99%), url('../../images/background.jpg');
  height: 720px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner__content {
  margin-left: 70px;
}

.banner__title {
  font-size: 65px;
  line-height: 72px;
  letter-spacing: -1.5px;
  color: var(--color-white);
  margin-bottom: 20px;
}

.banner__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 40px;
}

@media only screen and (max-width: 480px) {

  .banner {
    height: 510px;
  }

  .banner__content {
    padding-top: 80px;
    margin-left: 16px;
  }

  .banner__title {
    font-size: 24px;
    line-height: 32px;
  }

  .banner__subtitle {
    font-size: 14px;
    line-height: 18px;
  }

}
