.button {
  height: 40px;
  width: auto;
  padding: 10px 24px;
  border-radius: var(--border-radius-default);
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-default);
  line-height: 22px;
  border: none;
}

.button--large {
  height: 60px;
}


@media only screen and (max-width: 480px) {

  .button {
    height: 26px;
    padding: 2px 12px;
    font-size: 12px;
  }

  .button--large {
    height: 48px;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-default);
    line-height: 22px;
    padding: 14px 24px;
  }


}