.cover {
  width: 214px;
  height: 290px;
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.75) 0%, rgb(0, 0, 0, 0) 60%);
  position: relative;
  flex-shrink: 0;
  margin-right: 16px;
}

.cover:last-child {
  margin-right: 0;
}

.cover--large {
  width: 400px;
  height: 240px;
}

.cover__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.cover__title{
  color: var(--color-white);
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 12px;
}

@media only screen and (max-width: 480px) { 

  .cover {
    width: 100px;
    height: 135px;
    margin-right: 12px;
  }

  .cover__title{
    font-size: 11px;
    line-height: 12px;
    padding: 4px;
  }

  .cover--large {
    width: 270px;
    height: 165px;
  }

}


