.input {
  height: 60px;
  width: 360px;
  padding: 16px 24px;
  background-color:var(--color-white);
  border-radius: var(--border-radius-default);
  border: none;
  font-family: 'Questrial', sans serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);
}

.input::placeholder {
  color: var(--color-light-grey);
}

@media only screen and (max-width: 480px) {

  .input{
    width: 220px;
    height: 48px;
    font-size: 14px;
  }

}

