.slider {
  margin: 70px;
}

.slider__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.slider__title {
  color: var(--color-white);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.slider__more {
  color: var(--color-white);
  font-size: var(--font-size-default);
  line-height: 22px;
}

.slider__more__text, .slider__more__icon {
  vertical-align: middle;
}

.slider__more__icon {
  fill: var(--color-primary);
  margin-left: 8px;
}

.slider__track {
  display: flex;
  overflow: auto hidden;
  margin: 0 -70px;
  padding: 0 70px;
}

.slider__track::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media only screen and (max-width: 480px) {

  .slider {
    margin: 32px 24px;
  }

  .slider__header {
    margin-bottom: 16px;
  }

  .slider__title {
    font-size: 20px;
    line-height: 32px;
  }

  .slider__more {
    font-size: 14px;
  }

  .slider__track {
    margin: 0 -24px;
    padding: 0 24px;
  }

}
