:root {
  --color-red: #F41B3B;
  --color-green: #1EBC99;
  --color-blue: #1884f7;
  --color-yellow: #F9CC0D;
  --color-darken-grey: #363536;
  --color-grey: #4f4e50;
  --color-light-grey: #807e81;
  --color-white: #fff;
  --color-black: #0a070b;

  --font-family-questrial: 'Questrial', sans-serif;
  --font-size-default: 16px;
  --border-radius-default: 3px;

  --color-primary: var(--color-red);
  --font-family-primary: var(--font-family-questrial);
}